.img--similar-variant{
    height: 80px;
}


.title--similar-variant::before {
    content: "Cores de gavetas";
    display: block;
  }

  .title--similar-variant {
    visibility: hidden;
    position: relative;
  }

  .title--similar-variant::before {
    visibility: visible;
    position: absolute;
  }
