

.link--2{
  text-wrap: nowrap;
}

.container{
  text-transform: capitalize;
}


.breadcrumb-1-x-link--1{
  font-size: 12px;
}

.homeIcon{
    display:none;
}
.homeLink{
    padding:0;
}
.homeLink::before{
    content:"Home";
    font-size:10px;
    color:#7B7979;
}
.link,
.term{
    font-size:12px;
    color:black;
    padding:0;
    line-height:1;
}
.arrow{
    padding:0 5px;
}
.arrow::before{
    content:"/";
    font-size:13px;
    color:black;
    padding-right:5px;
    line-height:1;
}
.link:hover,
.arrow:last-child .link,
.term{
    color:#D9D8D7;
}
.container{
    padding:10px 0;
    align-items:center;
}
.caretIcon{
    display:none;
}

/* MOBILE */
@media screen and (max-width: 1024px){
    .link:hover,
    .arrow:last-child .link{
        color:#43483B;
    }
    .container{
        padding:22px 0 12px;
    }
}
