/* TOPO */
.flexRow--notification {
  background: #181818;
}

.flexRow--notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.flexRowContent--notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
}

.flexRow--topbar {
  display: flex;
  background-color: white;
  flex-direction: row;
  align-items: center;
  padding: 8px 0 6px;
  border-bottom: 1px solid #C7C7C7;
  justify-content: center;
  margin: 0;
}

.flexCol--coluna-tel-notif,
.flexColChild--coluna-tel-notif {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flexCol--logo-desktop {
  width: 4%;
}

.flexColChild--topbar {
  margin: 0;
}

.flexRowContent--main-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flexColChild--topbar-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* CATEGORIAS */
.flexRowContent--banner-dpto{
  height: 250px;
}


.flexCol--colunas-categorias {
  background-color: white;
}

.flexColChild--colunas-categorias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexRow--categorias-madu {
  margin: 40px 0 20px 0;
}

.flexRow--categorias {
  background-color: white;
  margin-top: 20px;
  margin: 20px 0 0 0;
  padding-bottom: 50px;
}

.flexRowContent--categorias-madu {
  gap: 20px
}

.flexRowContent--categorias {
  display: flex;
  justify-content: center;
  gap: 50px
}

/* MODAL  */
.flexCol--coluna-modal {
  margin-right: 50px;
}

/* MINICART */
.flexRow--minicart-content {
  padding: 14px 0;
  border-bottom: 1px solid #D9D8D7;
}

.flexCol--minicart-image {
  align-items: center;
  justify-content: center;
  margin-right: 19px;
}

.flexColChild--minicart-image {
  height: auto !important;
}

.flexCol--minicart-content {
  margin-bottom: 19px;
}

.flexRowContent--minicart-content {
  justify-content: flex-start;
}

.flexColChild--topbar-right {
  margin-top: -4px;
}

.flexCol--product-info-summary {
  margin-left: 20px;
  width: auto;
}

.flexColChild--product-info-summary {
  text-align: left;
}

.flexRow--add-to-cart-summary {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px 25px;
}

.flexRowContent--add-to-cart-summary {
  flex-direction: column;
}

.flexRowContent--add-to-cart-summary :global(.vtex-button) {
  border: 0;
  min-height: auto;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #C4C4C4;
  padding: 12px 0 9px;
}

.flexRowContent--add-to-cart-summary :global(.vtex-button__label) {
  padding: 0 !important;
}

/* INFOCARDS HOME */
.flexRowContent--mosaico-home {
  gap: 37px;
}

.flexCol--mosaico-home {
  gap: 32px;
}

/* LINHA MADU ONE  */
.flexRow--content-madu-cat {
  margin-top: 20px;
}

.flexRowContent--content-madu-cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  border-radius: 10px;
  padding: 30px 30px 30px 30px;
}

/* INSTAGRAM HOME */
.flexRowContent--instagram-home {
  margin: 0 0 54px;
  gap: 11px;
  justify-content: center;
}

/* RODAPÉ */
.flexRow--content-footer-atendimento{
  margin-bottom: 10px;
}

.flexRowContent--content-footer-atendimento {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flexCol--footer-2-desktop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.flexRowContent--footer-2-desktop-6 {
  gap: 15px;
}

.flexColChild--footer-seguranca-desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexRow--newsletter-row {
  background: #D9D8D7;
  padding: 43px 0 50px;
}

.flexRow--footer-2-desktop {
  padding: 32px 0 36px;
  background-color: #222222;
}

.flexRow--credits {
  background-color: black;
}

.flexColChild--footer-2-desktop {
  height: auto !important;
}

.flexRowContent--footer-2-desktop-6 {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flexRowContent--footer-2-desktop-1 {
  justify-content: flex-start;
  gap: 20px;
  margin-top: 20px;
}


/* PLP */
.flexRowContent--plp-page {
  gap: 34px;
}

.flexRowContent--banner-dpto .stretchChildrenWidth {
  width: 100% !important;
}

.flexRow--searchinfo {
  padding: 30px 0;
}

/* PDP */
.flexRow--product-main {
  margin-top: 20px;
}

.flexRowContent--product-main {
  gap: 30px;
}

.flexRow--product-name {
  margin-bottom: 14px;
}

.flexRowContent--selling-price {
  justify-content: flex-start;
  gap: 12px;
  align-items: center;
  margin-bottom: 60px;
}

.flexRow--buy-button-pdp {
  margin: 6px 0 23px;
}

.flexRowContent--buy-button-pdp :global(.vtex-button) {
  border: 0;
  border-radius: 30px;
  min-height: auto;
}

.flexRowContent--buy-button-pdp :global(.vtex-button__label) {
  padding: 12px !important;
}

.flexRowContent--product-description .stretchChildrenWidth {
  flex-direction: column;
}

.flexRowContent--product-description {
  border-bottom: 1px solid #D9D8D7;
}

.flexRowContent--productSpecification {
  justify-content: flex-start;
  gap: 10px;
  padding-bottom: 10px;
}

/* INSTITUCIONAIS */
.flexRow--pagina-institucional {
  margin: 66px 0 42px;
}

.flexCol--conteudo-institucionais {
  margin-left: 133px;
  height: fit-content;
}

.flexCol--menu-institucionais {
  background: #D9D8D7;
  padding: 25px 0;
  height: fit-content;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
}

/* MOBILE */
@media screen and (max-width: 1024px) {
  .flexRow--main-header-mobile {
    background-color: #fff;
  }

  .flexRowContent--main-header-mobile {
    align-items: center;
    padding: 5px 0;
    background-color: #fff;
    border-bottom: 1px solid #DFDFDF;
    justify-content: center;
  }

  .flexRowContent--main-header-mobile-2 {
    padding: 0;
    border-bottom: 0;
  }

  .flexColChild--product-info-summary {
    text-align: center;
  }

  .flexRowContent--instagram-home {
    display: flex;
    flex-wrap: wrap;
  }

  .flexRowContent--instagram-home .stretchChildrenWidth {
    width: 45% !important;
  }

  .flexCol--mosaico-home {
    gap: 20px;
  }

  /* RODAPÉ */
  .flexRow--newsletter-row {
    padding: 32px 0 28px;
  }

  .flexRow--footer-2-mobile {
    padding: 32px 0;
  }

  .flexRowContent--footer-2-mobile {
    padding: 0 20px;
  }

  .flexRowContent--footer-2-desktop-1 {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin: 20px 0 10px;
  }

  .flexRowContent--footer-2-desktop-6 {
    display: flex;
    margin-top: 20px;
  }

  /* PLP */
  .flexRow--productCountMobileRow {
    padding: 15px 0 16px;
  }

  .flexRowContent--searchinfomobile {
    align-items: center;
  }

  .flexCol--product-info-summary {
    margin-left: 0;
    width: 100%;
  }

  .flexRow--add-to-cart-summary {
    padding: 10px;
  }

  /* PDP */
  .flexRowContent--selling-price {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 15px;
  }

  .flexRowContent--product-name {
    position: relative;
  }

  /* INSTITUCIONAIS */
  .flexRowContent--pagina-institucional {
    display: flex;
    flex-direction: column-reverse;
  }

  .flexCol--conteudo-institucionais {
    margin-left: 0;
    margin-bottom: 30px;
  }

  .flexRow--pagina-institucional {
    margin: 20px 0;
  }
}
